<html ng-app>
  <head>
    <title>Your Shopping Cart</title>
    <script src="angular-1.0.1.min.js"></script>
    <script>
      function CartController($scope){
        $scope.items = [
          {title: 'Paint pots', quantity: 8,  price: 3.95},
          {title: 'Polka dots', quantity: 17, price: 12.95},
          {title: 'Pebbles',    quantity: 5,  price: 6.95}
        ];

        $scope.remove = function(index){
          $scope.items.splice(index, 1);	// 移除items数组的一个元素
        }

        $scope.bill = {};

        function totalCart(){
          var total = 0;
          for (var i = 0, len = $scope.items.length; i < len; i++){
            total = total + $scope.items[i].price * $scope.items[i].quantity;
          }
          return total;
        };

        function calculateDiscount(){
          return $scope.bill.total > 100 ? 10 : 0;
        }

        function updateBill(){
          $scope.bill.total = totalCart();
          $scope.bill.discount = calculateDiscount();
          $scope.bill.subtotal = $scope.bill.total - $scope.bill.discount;
        }

        $scope.$watch('items', updateBill, true);
        <!-- 1. 这里监控变量使用'items'，使用$scope.items不起作用 -->
        <!-- 2. 须要带参数true，开启deepWatch特性 -->
      }
    </script>
  </head>
  <body ng-controller="CartController">
    <h1>Your Order</h1>
    <div ng-repeat="item in items">
      <!-- 循环遍历items 创建多个div -->
      <span>{{item.title}}</span>
      <input ng-model="item.quantity" />
      <span>{{item.price | currency}}</span>
      <span>{{item.price * item.quantity | currency}}</span>
      <!-- 使用了currency过滤器 类似于Unix管道符 -->
      <button ng-click="remove($index)">Remove</button>
      <!-- 注意$index 它包含了ng-repeat索引值 -->
    </div>
    <div>Total: {{bill.total | currency}}</div>
    <div>Disco: {{bill.discount | currency}}</div>
    <div>Subto: {{bill.subtotal | currency}}</div>
  </body>
</html>
<!-- 对于angularJS时序图的设想 -->
<!-- 1. 在页面上操作，导致model（这里是items）发生变化 -->
<!-- 2. 触发$watch相关函数 -->
<!-- 3. 刷新视图 -->
