<html = ng-app="myApp">
  <!-- 03 调用myApp -->
  <body>
    <script src="angular-1.0.1.min.js"></script>
    <script>
      var myAppModule = angular.module('myApp',[]);
      <!-- 01 创建一个名为myApp的module -->

      myAppModule.controller('TextController', function($scope){
      <!-- 02 并为myApp注册一个控制器 -->
        var someText = {};
        someText.message = 'a simple calculator';
        $scope.someText = someText;
      });

      myAppModule.controller('FormController', function($scope){
        $scope.funding = { startingEstimate: 18 };

        $scope.computeNeeded = function(){
          $scope.funding.needed = $scope.funding.startingEstimate * 2.5;
        };
        $scope.computeNeeded();
        <!-- 这里先执行一次computeNeeded()给needed赋初值 注意末尾有() -->

        $scope.$watch('funding.startingEstimate', $scope.computeNeeded);
        <!-- 这里使用$watch特性代替ng-change特性实现监听 注意: -->
        <!-- 监听表达式的funding不带$scope 监听回调函数的computeNeeded带$scope -->

        $scope.requestFunding = function(){
          window.alert("You Need $" + $scope.funding.needed);
        };

        $scope.reset = function(){
          window.alert("Reset?!")
          $scope.funding.startingEstimate = 0;
        }
      })
    </script>
    <p ng-controller="TextController">{{someText.message}}</p>
    <form ng-controller="FormController" ng-submit="requestFunding()">
      Starting: <input type="text" ng-model="funding.startingEstimate">
      <!-- Starting: <input type="text" ng-change="computeNeeded()" ng-model="funding.startingEstimate"> -->
      <!-- 这里使用了ng-change特性 -->
      <br>Recommendation( = Starting x 10): {{funding.needed}}
      <br><button type="submit">SUBMIT</button>
      <br><button type="button" ng-click="reset()">RESET</button>
      <!-- 注意button的type -->
    </form>
  </body>
</html>
